In [1]:
import os
import pandas as pd


df = pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_icd_cohort/extracts/vitals_avg_episode_date.csv''')

In [2]:
df

,person_id,visit_occurrence_id,measurement_date,Respiratory rate,Heart rate,Body weight,Oxygen saturation in Arterial blood by Pulse oximetry,Glasgow coma score eye opening,Glasgow coma score verbal,Glasgow coma score motor,...,Sensory perception Braden scale,Physical activity Braden scale,Moisture exposure Braden scale,Color of Skin,Friction and shear Braden scale,Mean blood pressure,Systolic blood pressure,Diastolic blood pressure,Edema site,Body temperature
0,2118937575,-2146830423,2153-08-25,16.800000,88.500000,109.8,96.000000,2.000000,1.000000,1.0,...,2.000000,1.000000,3.00,NaN,2.00,83.000000,125.000000,67.500000,NaN,97.800000
1,2118937575,-2146830423,2153-08-26,14.902439,81.083333,134.2,99.875000,3.200000,1.000000,4.2,...,2.000000,1.000000,3.75,NaN,1.25,69.875000,107.333333,55.083333,NaN,98.560000
2,2118937575,-2146830423,2153-08-27,18.212121,79.750000,NaN,99.958333,3.285714,2.714286,6.0,...,3.000000,1.200000,3.00,NaN,1.20,70.666667,116.916667,51.541667,NaN,98.533333
3,2118937575,-2146830423,2153-08-28,23.250000,96.333333,NaN,98.625000,4.000000,4.000000,6.0,...,2.400000,2.000000,3.60,NaN,1.20,83.291667,141.333333,60.333333,NaN,98.000000
4,2118937575,-2146830423,2153-08-29,22.714286,97.142857,NaN,97.714286,4.000000,3.750000,6.0,...,3.000000,2.000000,3.00,NaN,2.00,86.642857,138.071429,65.428571,NaN,97.733333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68304,949412965,2147302236,2143-10-17,24.323529,83.608696,NaN,99.782609,3.800000,1.800000,6.0,...,2.000000,1.000000,3.00,NaN,1.40,74.650000,115.950000,58.700000,NaN,98.466667
68305,949412965,2147302236,2143-10-18,23.657895,86.125000,NaN,99.695652,4.000000,1.800000,6.0,...,2.666667,1.333333,3.00,NaN,1.00,80.941176,117.294118,65.941176,NaN,98.216667
68306,949412965,2147302236,2143-10-19,21.391304,82.913043,NaN,98.750000,4.000000,5.000000,6.0,...,3.000000,1.000000,3.00,NaN,1.00,81.461538,118.076923,66.153846,NaN,97.950000
68307,949412965,2147302236,2143-10-20,25.260870,83.086957,158.8,97.739130,4.000000,4.666667,6.0,...,4.000000,2.000000,3.00,NaN,1.00,74.727273,114.227273,59.000000,NaN,97.840000
68308,949412965,2147302236,2143-10-21,25.307692,81.000000,NaN,97.692308,4.000000,4.500000,6.0,...,3.000000,2.000000,3.00,NaN,1.00,71.833333,110.750000,56.000000,NaN,97.766667

In [5]:
df['Heart rate rhythm'].isna().sum()

68309